.calculator{
    display: inline-block;
    margin: 0 auto;
    padding: 15px;
    background-color: royalblue;
    width: 300px;
    height: 500px;
    border-radius: 20px;
}

.calculator td button{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    font-size: 25px; ;
}

#resultado{
    display: block;
    text-align: right;
    font-size: 40px;
    margin-bottom: 25px;
    color: black;
    background-color:white;
    width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius:20px;
    overflow-y: scroll;
}